.btn-primary {
  background-color: #51BBBE;
  border-color:  #51BBBE;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #959595 !important;
  background-color: #e4e4e4 !important;
  border-color: #e4e4e4 !important;
}

.btn-primary:hover{
  background-color:  #1D98F8;
  border-color: #1D98F8;
}

a {
  color: #51BBBE;
}

a:hover {
  color: #51BBBE;
}

/* Remove first line */
.table.noHeaderLine > tbody > tr:first-child > td {
  border: none;
}